//* by manihome time of 2015.04 */
@charset "utf-8";
*{margin:0;padding:0;}
body{font-size:13px;font-family:arial;-webkit-text-size-adjust:none;max-width: 640px;}
table{border-collapse:collapse;border-spacing:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
ul,ol,li{list-style:none;}
em{font-style:normal;}
img{border:none;}
input,img{vertical-align:middle;}
q:before, q:after{content:'' }
.fn-clear:after {visibility:hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.fn-clear{*zoom:1;}
a{color:#666;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);/* 去掉链接触摸高亮 */}
a:active{color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);}
section,aside,header,footer,hgroup,article{display:block}

html{font-size:1em;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight:rgba(0,0,0,0);-webkit-text-size-adjust:none;}
body{font-size:0.75em;}
label{cursor:pointer;}
a:link, a:visited {text-decoration:none;}
input,button,select,textarea{outline:none;} 
textarea{resize:none;}

a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, menu, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, var {margin:0;padding:0;}

article, aside, footer, header, hgroup, nav, section, figure, figcaption{display:block;} 

h1, h2, h3, h4, h5, h6, th, td, table, input, button, select, textarea, sub{font-size:1em;}
body, input, button, select, textarea, sub{ font-family:Arial, sans-serif;}
em, cite, address, optgroup {font-style:normal;}
kbd, samp, code {font-family:monospace;}

img, input, button, select, textarea {vertical-align:middle;}
ul, ol {list-style:none;}
img, fieldset {border:0;}
abbr, acronym {cursor:help; border-bottom:1px dotted black;}
table {width:100%;border-spacing:0;border:0}
table th, table td {border:0;}
legend, hr {overflow:hidden;position:absolute;top:0;left:0;}
legend, hr, caption {visibility:hidden;font-size:0;width:0;height:0;line-height:0;}

/*----------------------------------------------------------------------------------------------------*/
html {width:100%;-webkit-text-size-adjust:none;/*禁止iphone字体放大*/}
body{behavior:url("csshover.htc");font:62.5%/1 "microsoft yahei",arial,tahoma,\5b8b\4f53;width:100%;}
body{font-family:"microsoft yahei",Microsoft Yahei;color:#333;background: #f6f6f6;margin: 0 auto;}

input,textarea,select,button{-webkit-appearance: none;appearance: none; border-radius:0; -webkit-border-radius:0; font-family:'microsoft yahei';}
/*.main{max-width:640px;min-width:320px;margin:0px auto;}*/

/*border*/
.borbN{border-bottom:none;}
.borN{border:0;}
.borB{border-bottom:1px solid #E5E5E5;}
.borR{border:1px solid red;}
/*浮动*/
.fl{float:left;}
.fr{float:right;}
.block{display:block;}
.bold{font-weight:bold;}
.div10{height:10px; background:#eee;}
.hide{display:none;}
/*居中*/
.texC{text-align:center;}
.texL{text-align:left;}
.texR{text-align:right;}
/*color*/
.cfff{color:#fff;}
.c333{color:#333;}
.c666{color:#666;}
.c999{color:#999;}
.ff55{color:#ff5555;}
.ffb4{color:#ffb400;}
.bgff9{color:#ff9600;}
.cfea{color:#fead2a;}
.ffcd{color:#FFCD56;}
.red{color:red;}

/*bg*/
.bg308{background:#3086cf;}
.bg379{background:#3795f6;}
.bgfff{background:#fff;}
.bgeee{background:#eee;}
.bgN{background:none;}
.bgff4{background:#ff4c4c;}
.bgff{ background:#ff9600;}
.bgffa{background:#ffad2d;}
.bgfa5{background:#fa5d73;}
.bgf35{background:#302F35;}
.bga95f{background:#3A95F6;}

/*清除浮动*/
.clearfix:before,.clearfix:after{content:".";display:block;visibility:hidden;height:0;line-height:0;font-size:0;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
.clear{clear:both;height:0;overflow:hidden;}
/*----------------------------------------------------------------------------------------------------*/
/*字体*/
.font10{font-size:1em;}
.font12{font-size:1.2em;}
.font13{font-size:1.3em;}
.font14{font-size:1.4em;}
.font15{font-size:1.5em;}
.font16{font-size:1.6em;}
.font18{font-size:1.8em;}
.font20{font-size:2em;}
/*margin*/
.mA{margin:0 auto;}
.mT5{margin-top:5px;}
.mB5{margin-bottom:5px;}
.mT10{margin-top:10px;}
.mB10{margin-bottom:10px;}
.mT20{margin-top:20px;}
.mB20{margin-bottom:20px;}
.mT30{margin-top:30px;}
.mB30{margin-bottom:30px;}
.mT40{margin-top:40px;}
.mB40{margin-bottom:40px;}
.mT50{margin-top:50px;}
.mB50{margin-bottom:50px;}
.mR35{margin-right:35px;}
.mR15{margin-right:15px;}
.mB85{margin-bottom:85px;}
.mT70{margin-top:70px;}
.mL8{margin-left:15px;}
.mL10{margin-left:10px;}
.mL90{margin-left:90px;}
.mL120{margin-left:120px;}
.mT40b{margin-top:40%;}
.mT100b{margin-top:100%;}
/*padding*/
.pL5{padding-left:5%;}
.pL10{padding-left:10%;}
.pB40{padding-bottom:80%;}
.pR5{padding-right:5%;}
.pR10{padding-right:10%;}
.pT10{padding-top:10px;}
.pB10{padding-bottom:10px;}
.pT20{padding-top:20px;}
.pB20{padding-bottom:20px;}
.pB35{padding-bottom:35px;}
.pT15{padding-top:15px;}
.pB15{padding-bottom:15px;}
.pB5{padding-bottom:5px;}
.pT5{padding-top:5px;}
/*width*/
.wd100{width:100%;}
.wd90{width:90%;}
.wd80{width:80%;}
.wd70{width:70%;}
.wd60{width:60%;}
.wd50{width:50%;}
.wd55{width:55%;}
.wd45{width:45%;}
.wd40{width:40%;}
.wd30{width:30%;}
.wd25{width:25%;}
/*radius*/
.radius5{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.radius50{border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;}
/*opcity*/
.opcity70{opacity:0.7;-webkit-opacity:0.7; -moz-opacity:0.7;}
.btn{line-height:40px;height:40px;}
.inline_B{
	display: inline-block;
}
i{
	font-style: normal;
}
.tjh_rem{
	width: 20px;
	height: 20px;
	position: absolute;
	top: -6px;
	right: 4px;
}
