



*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}


a{
	text-decoration: none;
}

img{
	border: none;
}


p{
	margin-bottom: 0;
}


.haeder_titnav{
	width: 100%;
	height: 20px;
}


.mui-bar{
	width: 100%;
	height: 64px;
	background: #ff6797;
	-webkit-box-shadow: none;
	box-shadow:none;
}

.mui-content{
	padding-top: 65px;
}

.mui-content>.mui-table-view:first-child {
    margin-top: 0;
}

.mui-table-view:before,.mui-table-view:after{
	height: 0;
	background: none;
}

.mui-table-view .mui-table-view-cell:after{
	left: 0;
}

#collect-refresh .mui-table-view .mui-media-object {
    line-height: 80px;
    max-width: 80px;
    height: 80px;
}

/*商品右边详情*/
.mui-media-body p{
	font-size: 16px;
	line-height: 25px;
}
.mui-media-body p:nth-of-type(1){
	color: black;
}

.mui-media-body p:nth-of-type(3){
	line-height: 33px;
}

.mui-media-body p:nth-of-type(3) span{
	color: #FF6797;
}


.mui-media-body p:nth-of-type(3) button{
	float: right;
	color: #FF6797;
	border: #FF6797 solid 1px;
	border-radius: 20px;
}



/*搜索结果为空时提示图片*/

.nothingImg{
	width: 50%;
	margin: 80px auto;
}


.nothingImg img{
	display: block;
	width: 100%;
}

.nothingImg p{
	text-align: center;
	font-size: 14px;
	line-height: 50px;
}


.mui-pull-top-tips{
	display: none;
}
