



*{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}


a{
	text-decoration: none;
}

img{
	border: none;
}


p{
	margin-bottom: 0;
}


.haeder_titnav{
	width: 100%;
	height: 20px;
}


.mui-bar{
	width: 100%;
	height: 64px;
	background: #ff6797;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.edit-form-content{
	padding-top: 65px;
}


.edit-form-content .mui-table-view-cell{
	padding: 5px 15px;
}

 .mui-table-view:after,.mui-table-view:before{
	height: 0;
}



input::-webkit-input-placeholder{
　　color: #CCCCCC;
	font-size:14px;
}

.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
    color: #FF6797;
}

.mui-table-view-cell:after{
	left: 0;
}

.mui-table-view-cell.mui-active{
	background: none;
}

.edit-form-content label{
	padding: 11px 0;
	width: 27%;
}


.edit-form-content .mui-input-row label~input{
	width: 73%;
}


/*默认地址选择*/
.switchAdd{
	height: 50px;
}

.switchAdd .switchWarn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 40%;
}

.switchAdd  .mui-switch{
	position: absolute;
	right: 65%;
}

.mui-switch.mui-active{
	border-color: #FF6797;
	background-color: #FF6797;
}


/*地址修改确认按钮*/
.edit-form-content .address-btn{
	display: block;
	width: 80%;
	margin: 20px 10%;
	border: none;
	background: #FF6797;
	padding: 10px 12px;
	font-size: 16px;
	color: white;
}


.mui-btn-blue{
	border: #FF6797 solid 1px;
	background: #FF6797;
}


/*添加地址 复选框*/
.mui-checkbox input[type=checkbox]{
	top: 7px;
}
