@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.ttf?4cgmy1') format('truetype');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-qie:before {
  content: "\e938";
  color: #fff;
}
.icon-fen:before {
  content: "\e91c";
}
.icon-ren:before {
  content: "\e92a";
}
.icon-wei:before {
  content: "\e936";
}
.icon-shou:before {
  content: "\e937";
}
.icon-gj:before {
  content: "\e935";
}
.icon-addimg:before {
  content: "\e913";
  color: #cdcdcd;
}
.icon-press:before {
  content: "\e90f";
 	color: #4df1e4;
}
.icon-new:before {
  content: "\e933";
  color: #f49453;
}
.icon-hongdong:before {
  content: "\e934";
  color: #1296db;
}
.icon-more:before {
  content: "\e904";
  color: #f69;
}
.icon-sousuo:before {
  content: "\e932";
}
.icon-time:before {
  content: "\e918";
  color: #515151;
}
.icon-shoppingee:before {
  content: "\e92c";
}
.icon-shoppingeees:before {
  content: "\e92d";
}
.icon-saomianes:before {
  content: "\e92e";
}
.icon-saomian:before {
  content: "\e92b";
}
.icon-i:before {
  content: "\e900";
  color: #bfbfbf;
}
.icon-ies:before {
  content: "\e906";
  color: #f69;
}
.icon-chat:before {
  content: "\e907";
  color: #bfbfbf;
}
.icon-chates:before {
  content: "\e90a";
  color: #f69;
}
.icon-Meeting:before {
  content: "\e90d";
  color: #cdcdcd;
}
.icon-Meetinges:before {
  content: "\e90e";
  color: #f69;
}
.icon-shopping:before {
  content: "\e914";
  color: #cdcdcd;
}
.icon-shoppinges:before {
  content: "\e915";
  color: #f69;
}
.icon-ShoppingCart:before {
  content: "\e901";
}
.icon-Release:before {
  content: "\e902";
  color: #1296db;
}
.icon-Agreement:before {
  content: "\e903";
  color: #1296db;
}
.icon-Moreone:before {
  content: "\e905";
  color: #3ad68f;
}
.icon-follow:before {
  content: "\e908";
  color: #fff;
}
.icon-followes:before {
  content: "\e909";
}
.icon-activity:before {
  content: "\e90b";
  color: #1296db;
}
.icon-activityes:before {
  content: "\e90c";
  color: #1296db;
}
.icon-Admission:before {
  content: "\e910";
  color: #1296db;
}
.icon-comment:before {
  content: "\e911";
}
.icon-wallet:before {
  content: "\e912";
  color: #ff9c6c;
}
.icon-Hot:before {
  content: "\e913";
  color: #fff;
}
.icon-spanees:before {
  content: "\e916";
  color: #707070;
}
.icon--Setup-:before {
  content: "\e917";
  color: #cdcdcd;
}
.icon-Real:before {
  content: "\e919";
  color: #43bb41;
}
.icon-Collection:before {
  content: "\e91a";
}
.icon-Collectiones:before {
  content: "\e91b";
  color: #f4ea2a;
}
.icon-hand:before {
  content: "\e91c";
  color: #fff;
}
.icon-search:before {
  content: "\e91d";
  color: #fff;
}
.icon-privilege .path1:before {
  content: "\e91e";
  color: rgb(255, 210, 0);
}
.icon-privilege .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 210, 0);
}
.icon-privilege .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(155, 135, 135);
}
.icon-privilege .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(155, 135, 135);
}
.icon-privilege .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(155, 135, 135);
}
.icon-privilege .path6:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(155, 135, 135);
}
.icon-WeChat:before {
  content: "\e924";
  color: #7aca9e;
}
.icon-Alipay:before {
  content: "\e925";
  color: #3c98e3;
}
.icon-entity:before {
  content: "\e926";
}
.icon-Participant:before {
  content: "\e927";
  color: #515151;
}
.icon-place:before {
  content: "\e928";
  color: #515151;
}
.icon-Order:before {
  content: "\e929";
  color: #ffa726;
}
.icon-Location:before {
  content: "\e92a";
  color: #fff;
}
.icon-landVerification:before {
  content: "\e92f";
}
.icon-landphone:before {
  content: "\e9001";
  color: #fff;
}
.icon-landwechat:before {
  content: "\e930";
  color: #fff;
}
.icon-landqq:before {
  content: "\e931";
  color: #fff;
}






