html,
body {
	background-color: #F7F7F7;
}


.mui-scroll-wrapper{
	top: 64px;
	bottom: 49px;
}




.mui-table-view-cell.mui-active{
	background: none;
}

.mnhimg {
	width: 21%;
	height: 0;
	padding-bottom: 23%;
	overflow: hidden;
	float: left;
}

.mui-table {
	height: 100%;
}

.mnhimg img {
	width: 100%;
	display: block;
}

.mui-col-xs-2 {
	float: left;
	width: 8%;
	height: 100%;
}

/*列表右边*/
.car-right {
	position: relative;
	float: left;
	width: 68%;
	margin-left: 2%;
}

/*列表右边-价格*/
.car-right .carRight-price{
	width: 70px;
	font-size: 16px;
	color: #FF6797;
}

/*数量加减按钮*/
.car-right .cardRight-control{
	position: absolute;
	left: 40%;
	bottom: -15px;
	line-height: 30px;
	z-index: 10;
}

.car-right .cardRight-control .carRight-count{
	font-size: 14px;
	color: #FF6797;
	vertical-align: top;
	font-size: 14px;
	padding: 0 5px;
}

/*加/减按钮*/
.car-right .cardRight-control .mui-icon-minus,.car-right .cardRight-control .mui-icon-plus{
	font-size: 30px;
}

.mnhtit {
	font-size: 14px;
	color: #333333;
	font-weight: 400;
}

.mui-table-view-cell {
	padding: 6px 6px;
}


.mui-table-view-cell:after {
	background-color: inherit;
}

.mui-table-view:before {
	background-color: inherit;
}

.mui-table-view:after {
	background-color: inherit;
}

.mui-content>.mui-table-view:first-child {
	margin-top: 4px;
}

.mui-input-row {
	height: 100%;
}

.mui-checkbox.mui-left input[type=checkbox],
.mui-radio.mui-left input[type=radio] {
	left: 4px
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right: 20px;
}

.mui-checkbox input[type=checkbox]:before,
.mui-radio input[type=radio]:before {
	font-size: 22px;
}


/*媒体查询*/

@media only screen and (min-width: 100px) and (max-width: 320px) {
	.mui-col-xs-2 {
		height: 64px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
	.mui-col-xs-2 {
		height: 72px;
	}
}

@media only screen and (min-width: 376px) and (max-width: 414px) {
	.mui-col-xs-2 {
		height: 80px;
	}
}

.mnhcolorhuang {
	background-color: #ffcc99;
}

.mnhcolorhong {
	background-color: #FF6699;
}

.mui-table-view {
	background-color: initial;
	/*margin-bottom: 60px;*/
}

.mui-table-view-cell {
	background-color: #FFFFFF;
	margin-bottom: 4px;
}

.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
	color: #FF6699;
}

footer {
	width: 100%;
	position: fixed;
	height: 49px;
	background-color: #FFFFFF;
	left: 0;
	bottom: 0;
	border-top: 1px #F3F3F3 solid;
	z-index: 999;
}


.mnhlife {
	float: left;
	width: 60%;
	height: 49px;
}

.mnhlife p{
	float: left;
	height: 49px;
	text-align: center;
	line-height: 49px;
	margin-bottom: 0;
}

.mnhlife p:nth-of-type(1){
	width: 60%;
}

.mnhlife p:nth-of-type(2){
	width: 40%;
	text-align: left;
}

.mnhlife p span{
	color: #FF6797;
	font-size: 20px;
	font-weight: bold;
}

.mnhright {
	float: right;
	width: 40%;
	line-height: 49px;
	background-color: #FF6699;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	border: none;
	border-radius: 0;
	padding: 0;
}

.mnhright span {
	font-size: 12px;
}

/*.mnh_quanxuan {
	margin-left: 12px;
}

.mui-input-row label {
	padding: 16px 4px;
	padding-left: 36px !important;
	font-size: 14px;
	color: #FF6699;
}

label span {
	color: #FF6699;
	font-size: 18px;
}*/


.mui-pull-bottom-pocket {
	margin-bottom: 50px;
}

/*购物车为空时提示图片*/
.nothingImg{
	width: 50%;
	margin: 80px auto;
}


.nothingImg img{
	display: block;
	width: 100%;
}

.nothingImg p{
	text-align: center;
	font-size: 14px;
	line-height: 50px;
}


.mui-pull-top-tips{
	display: none;
}