<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页-美会</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/icostyle.css" />
		<link rel="stylesheet" href="css/jiazai.css" />
		<link rel="stylesheet" type="text/css" href="css/header.css" />
		<link rel="stylesheet" type="text/css" href="css/home.css" />
	</head>
	<body id="indexBody">
		<!--20px高度-->
		<header class="mui-bar mui-bar-nav">
			<div class="haeder_titnav"></div>
		</header>
		<!--发布按钮层-->
		<div class="mnh_zhe"></div>
		<!--展开发布按钮-->
		<div class="mnh_an mnh_anes">
			<p class="icomoon icon-more"></p>
		</div>
		<!--<div class="mnh_nav_img" onclick="animateWindow('zoom-fade-out','html/mnhcompetitionfb.html')">
			<div class="mnh_text_an">发布竞赛</div>
			<div class="mnh_an1">
				<p class="icomoon icon-press"></p>
			</div>
		</div>
		<div class="mnh_nav_img1" onclick="animateWindow('zoom-fade-out','html/mnhreportfb.html')">
			<div class="mnh_text_an">发布报道</div>
			<div class="mnh_an1">
				<p class="icomoon icon-new"></p>
			</div>
		</div>-->
		<div class="mnh_nav_img2" onclick="animateWindow('zoom-fade-out','html/mnhactivities.html')">
			<div class="mnh_text_an">发布活动</div>
			<div class="mnh_an1">
				<p class="icomoon icon-hongdong"></p>
			</div>
		</div>
		<!--内容  -->
		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="mui-scroll">
						<p class="mnh_quan" onclick="animateWindow('zoom-fade-out','html/city.html')"><span v-html="city"></span><span class="mui-icon mui-icon-arrowdown"></span></p>
						<a class="mui-control-item mui-active" href="#item1mobile">
							美会活动
						</a>
						<a class="mui-control-item" href="#item2mobile">
							往期活动
						</a>
						<!--<a class="mui-control-item" href="#item3mobile">
							竞赛
						</a>-->
						<p class="mnh_sou icomoon icon-sousuo" onclick="animateWindow('zoom-fade-out','html/search.html')"></p>
					</div>
				</div>
				<div class="mui-slider-group">
					<!--活动-->
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll" id="act-scroll">
								<!--轮播图-->
								<div id="sliderr" class="mui-slider banner_slider">
									<div class="mui-slider-group mui-slider-loop">
										<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
										<div class="mui-slider-item mui-slider-item-duplicate">
											<a class="mnhContent" dataid='3' dataname = '{{bannerLastImg.activity_name}}' data-title-type="transparent_native" href="html/mnhcontentnav.html" @tap="actGoto($event,bannerLastImg.activity_id)">
												<img :src="bannerLastImg.name" v-cloak>
											</a>
										</div>
										<div class="mui-slider-item" v-for="item in bannerImg"  v-cloak track-by="$index">
											<a class="mnhContent" dataid='3' dataname = '{{item.activity_name}}' data-title-type="transparent_native" href="html/mnhcontentnav.html" @tap="actGoto($event,item.activity_id)">
												<img :src="item.name" v-cloak>
											</a>
										</div>
										<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
										<div class="mui-slider-item mui-slider-item-duplicate">
											<a class="mnhContent" dataid='3' dataname = '{{bannerFirstImg.activity_name}}' data-title-type="transparent_native" href="html/mnhcontentnav.html" @tap="actGoto($event,bannerFirstImg.activity_id)">
												<img :src="bannerFirstImg.name" v-cloak>
											</a>
										</div>
									</div>
									<div class="mui-slider-indicator">
										<div class="mui-indicator mui-active"></div>
										<div class="mui-indicator" v-for="item in last" v-cloak track-by="$index" ></div>										
									</div>									
								</div>
								
								<!--图片列表 -->
								<ul class="mui-table-view">
									<li class="mui-table-view-cell mui-media" v-for="item in activityList" v-cloak track-by="$index">
										<a class="mnhContent" dataid='1' data-title-type="transparent_native"  href="html/mnhcontentnav.html"  @tap="actGoto($event,item.id)">
											<div class="mnhcontentimg"><img class="mui-media-object mui-pull-left" :src="item.img_small"></div>
											<div class="mui-media-body mnh_home_nav">
												<p class="mnhTites mui-ellipsis" v-html="item.subject"></p>
												<p class='mui-ellipsis'><span class="icomoon icon-time" v-cloak>{{item.time_start | tiemFormate}} - {{item.time_end | tiemFormate}}</span></p>
												<p class='mui-ellipsis'><span class="icomoon icon-place" v-html="item.province+item.city+item.area+item.address"></span></p>
											</div>
											<div class="mnh_mud_po" v-if="item.members" v-show="item.members.length>0">
												<div class="mnh_mud_po_mud">
													<div class="icomoon icon-Participant"></div>
													<div class="mnh_mud_po_mud_da" v-html="item.number"></div>
												</div>
												<div class="mnh_mud_po_img" v-for="item2 in item.members" v-show="$index<8" v-cloak track-by="$index">
													<img :src="item2.app_logo"  />													
												</div>
												<p class="mnh_mud_po_more" v-show="item.members.length>8">...</p>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--往期活动（报道变成了往期活动）-->
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" style="top: 3px;" id="report-scroll">
								<ul class="mui-table-view">
									<div class="mui-card" v-for="item in reportList" v-cloak track-by="$index">
										<a class="mnhContent" dataid='2' data-title-type="transparent_native"  href="html/mnhcontentnav.html" @tap="actGoto($event,item.id)">
											<div class="mui-card-header mui-card-media report-img">
												<img :src="item.img_small" alt=""  v-cloak/>
											</div>
											<div class="mui-card-content">
												<div class="mui-card-content-inner">
													<p v-cloak >Posted on {{item.time_end | tiemFormate}}</p>
													<p class="mnhtwocontentname mui-ellipsis" style="color: #333;margin-bottom: 0;" v-html="item.subject"></p>
												</div>
											</div>
										</a>
									</div>
								</ul>
							</div>
						</div>
					</div>
					<!--竞赛-->
					<!--<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll" id="compe-scroll">
								<ul class="mui-table-view">
									<div class="mui-card mnh_banner_nav" v-for="item in compeList" v-cloak track-by="$index">
										<a class="mnhContent" dataid='3'  data-title-type="transparent_native" href="html/mnhCompetition.html" @tap="compeGoto($event,item.id)">
											<div class="mui-card-header mui-card-media mnh_banner_nav_img">
												<img :src="item.img_small" />
											</div>
											<div class="mui-card-content">
												<div class="mui-card-content-inner mnh_banner_nav_text">
													<p class="mnhthreecontentname" style="font-size: 16px; color: #333333;" v-html="item.subject"></p>
													<p style="font-size: 12px;" v-cloak>主办方：{{item.owner}}</p>
													<p style="font-size: 12px; color: #333333;" v-cloak>比赛时间：{{item.time_start | tiemFormate}} - {{item.time_end | tiemFormate}}</p>
													<p style="font-size: 12px;" v-cloak>{{item.join_num}} 参与 | {{item.focus}} 关注 | {{{item.match_activity_form}}} </p>
												</div>
											</div>
											<div class="mnh_banner_nav_state" :class="{compDuring:item.status_info=='火热进行中',compFinish:item.status_info=='活动已结束'}" v-html="item.status_info"></div>
										</a>
									</div>
								</ul>
							</div>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/upload/loadingpage.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mui.pullToRefresh.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/mui.pullToRefresh.material.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<!--页面跳转1-->
	<script src="js/pagehome.js" type="text/javascript" charset="utf-8"></script>
	<!--底部栏跳转-->
	<script src="js/homejs.js" type="text/javascript" charset="utf-8"></script>
	<!--页面跳转2-->
	<script src="js/ajax/mnhHuodongcontent.js" type="text/javascript" charset="utf-8"></script>
	<!--页面跳转3-->
	<script type="text/javascript" src="js/jnop.js"></script>
	<!--页面间传值-->
	<script type="text/javascript" src="js/jiazai.js"></script>
	
	<script type="text/javascript" src="js/store.min.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-resource.js"></script>
	<script type="text/javascript" src="js/ajax/url.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</html>












